@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Here is the list of documents:</h1>
    <div style="width: 200px">
        <ul>
            @foreach (var d in Model.Documents)
            {
                <li><a href="@d.Link">@d.Title</a></li>
            }
        </ul>
    </div>
</div>
